body {
    display: flex;
    flex-direction: column;
}

.start {
    background-color: #1f2937;
    padding-top: 25px;
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

ul {
    list-style-type: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 150px;
    padding-bottom: 150px;
    min-width: 0;
}

.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner img {
    flex: 1;
    width: 100%;
    height:auto;
}

.hero-title {
    font-size: 48px;
    font-weight: extra-bold;
    color: white;
}

.hero-content {
    font-size: 18px;
    color: #e5e7eb;
}

.hero button {
    height: 30px;
    width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
}
